# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
basic.json
build/exe.win-amd64-3.3/HP_IMC_Change_Operator_Password.exe
build/exe.win-amd64-3.3/pyexpat.pyd
build/exe.win-amd64-3.3/library.zip
setup.py
build/exe.win-amd64-3.3/python33.dll
build/exe.win-amd64-3.3/pywintypes33.dll
build/exe.win-amd64-3.3/select.pyd
build/exe.win-amd64-3.3/unicodedata.pyd
build/exe.win-amd64-3.3/win32api.pyd
build/exe.win-amd64-3.3/win32wnet.pyd
build/exe.win-amd64-3.3/_bz2.pyd
build/exe.win-amd64-3.3/_ctypes.pyd
build/exe.win-amd64-3.3/_hashlib.pyd
build/exe.win-amd64-3.3/_socket.pyd
build/exe.win-amd64-3.3/_ssl.pyd
imc_operator_list - Copy.csv
